<div class="seo-sem__container">
    <div class="seo-sem__badge">
        <p>Últimas <span>becas</span></p>
        <span class="material-symbols-rounded"> history_toggle_off </span>
    </div>

    <div class="seo-sem__info">
        <h1 class="seo-sem__title">Máster en <span>SEO y SEM</span></h1>
        <p class="seo-sem__text">
            Captar tráfico cualificado y conseguir los objetivos de negocio: visitas, leads, ventas, descargas o
            instalaciones, se ha convertido en una de las funciones más determinantes en cualquier empresa que tiene
            presencia en medios digitales.
        </p>
        <p>
            Con el <span>Máster en SEO y SEM</span> te convertirás en un
            <span>especialista en atraer tráfico</span>
            mediante una metodología práctica, serás capaz de identificar las oportunidades para posicionar a tu marca,
            desarrollarás planes que impulsen el crecimiento orgánico y de pago y podrás desenvolverte en cualquier tipo
            de proyecto digital.
        </p>
    </div>
</div>
<div class="seo-sem-btn__container">
    <a class="secondary-button">Solicitar información</a>
</div>
