<section class="reconocimientos row justify-content-evenly align-items-center text-center d-none d-xl-flex">
    <div class="col-3">
        <img
            id="fecyt"
            src="./assets/img/reconocimientos/fecyt.png"
            alt="Logo FECYT - Fundacion Española para la Ciencia y la Tecnología"
        />
    </div>
    <div class="col-1">
        <img id="profe" src="./assets/img/reconocimientos/badget_profe.png" alt="Logo Profesor Cualificado" />
    </div>
    <div class="col-2">
        <img
            id="csic"
            src="./assets/img/reconocimientos/csic.png"
            alt="Logo CSIC - Consejo Superior de Investigaciones Cientificas"
        />
    </div>
    <div class="col-1">
        <img id="serious" src="./assets/img/reconocimientos/seriouselearning.png" alt="Logo Serious Elearning" />
    </div>
    <div class="col-3">
        <img
            id="ucam"
            src="./assets/img/reconocimientos/ucam-escudo.png"
            alt="Logo UCAM - Universidad Católica de Murcia"
        />
    </div>
</section>
