<div class="card-descuento">
    <div>
        <div class="card-descuento__title">
            <h3>{{ title }}</h3>
        </div>
        <div class="card-descuento__info">
            <h4>{{ percentage }}%</h4>
            <p>
                {{ text }}
            </p>
        </div>
    </div>
    <div class="btn-container">
        <button class="primary-button">
            Solicitar información<span class="material-symbols-rounded"> trending_flat </span>
        </button>
    </div>
</div>
