header.header {
    width: 100%;
    user-select: none;
    z-index: 1;

}

div.header__container {
    padding: 0 0 24px;
}

div.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.header__menu-button {
    background: transparent;
    border: none;
    outline: none;
    transition: transform 0.2s ease, font-size 0.2s ease;
}


img {
    height: 35px;
    
}

img:hover {
    transform: scale(1.1);
}


