<section class="opiniones">
    <div class="opiniones__title">
        <h2>Nuestros alumnos, nuestro mejor aval</h2>
        <h3>Descubre que opinan de nosotros</h3>
    </div>
    <div class="opiniones__cards row">
        <app-card-opinion
            class="col-lg-6"
            name="Federico Aligué"
            text="Agradezco y recomiendo la formación impartida por IEBS Business School ha sido intenso y apasionante."
            position="Talent Recruitment: Dpto. Admisiones Canal Inbound"
            photo="./assets/img/opiniones/opinion1.png"
        ></app-card-opinion>
        <app-card-opinion
            class="col-lg-6"
            name="Milagros Luis Brito"
            text="¡Cuanto he aprendido con ustedes! Gracias por facilitarme una formación adaptada y permitir el acceso al conocimiento."
            position="Presidenta de la ZEC, Zona Especial Canaria"
            photo="./assets/img/opiniones/opinion2.jpg"
        ></app-card-opinion>
        <app-card-opinion
            class="col-lg-6"
            name="Ana Cabello"
            text="Son la mejor escuela de formación online que existe. Muy profesionales y con un método innovador."
            position="Responsable de la estrategia de Coviran Digital"
            photo="./assets/img/opiniones/opinion3.jpg"
        ></app-card-opinion>
        <app-card-opinion
            class="col-lg-6"
            name="José Antonio Muñoz"
            text="Una de las mejores escuelas online, actualizada a la vanguardia y muy práctica."
            position="Director de Marketing en Testabit"
            photo="./assets/img/opiniones/opinion4.jpg"
        ></app-card-opinion>
    </div>
</section>
