<section class="info-master row">
    <div class="info-master__img">
        <img id="fecyt" src="./assets/img/deco.svg" alt="decoracion" />
    </div>
    <div class="info-master__text col-9">
        <div class="info-master__title">
            <h2>¿Qué voy a aprender?</h2>
            <p>Al finalizar el <span>Máster EN SEO Y SEM </span>serás perfectamente capaz de:</p>
        </div>

        <div class="info-master__list-content">
            <ul class="info-master__list">
                <li class="info-master__item">
                    Gestionar y optimizar las campañas de buscadores optimizando el mix de captación a través de
                    <span>SEO y SEM.</span>
                </li>
                <li class="info-master__item">
                    Entender la lógica y las capacidades de la <span>captación de pago online.</span>
                </li>
                <li class="info-master__item">
                    Definir, planificar y analizar <span>campañas de pago por clic.</span>
                </li>
                <li class="info-master__item">Definir, planificar y analizar <span>campañas de SEO.</span></li>
                <li class="info-master__item">
                    <span>Optimizar de manera eficiente las campañas</span> para sacar el máximo rendimiento a las
                    inversiones.
                </li>
                <li class="info-master__item">
                    Aprender a <span>crear propuestas y previsiones</span> para clientes o para tu propio negocio.
                </li>
                <li class="info-master__item">
                    Aprender a gestionar equipos y tareas como manager de un departamento de
                    <span>Marketing de Buscadores.</span>
                </li>
            </ul>
        </div>

        <div class="btn-container">
            <button class="secondary-button">
                Solicita información <span class="material-symbols-rounded"> trending_flat </span>
            </button>
        </div>
    </div>
</section>
