section.hero {
    background-image:   linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                        url("/assets/img/header-img.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 40px
}

div.hero__container {
    max-width: 1300px;
    margin: 0 auto;
}


div.hero-container__content {
    background: rgba(255, 255, 255, 0.829);
    padding: 40px;
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px, rgba(0, 0, 0, 0.2) 0px 2px 12px;
    margin-bottom: 40px;
}

app-info-master-seo-sem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}




    