<section class="information">
    <div class="information__container">
        <div class="informacion__content row">
            <div class="informacion__content-item col-lg-6">
                <div class="item__img">
                    <span class="material-symbols-rounded">schedule</span>
                </div>
                <div class="item__text">
                    <h3>¿Cuánto dura?</h3>
                    <div class="item__text-description">
                        <p>Este Máster tiene una duración de</p>
                        <p>750horas.</p>
                    </div>
                </div>
            </div>
            <div class="informacion__content-item col-lg-6">
                <div class="item__img">
                    <span class="material-symbols-rounded"> calendar_month </span>
                </div>
                <div class="item__text">
                    <h3>¿Cuándo empieza?</h3>
                    <div class="item__text-description">
                        <p>Consulta con nosotros para conocer cuando comienza el siguiente master.</p>
                    </div>
                </div>
            </div>
            <div class="informacion__content-item col-lg-6">
                <div class="item__img">
                    <span class="material-symbols-rounded"> thumb_up </span>
                </div>
                <div class="item__text">
                    <h3>¡Fináncialo!</h3>
                    <div class="item__text-description">
                        <p>Financia este programa en cuotas mensuales, sin intereses</p>
                    </div>
                </div>
            </div>
            <div class="informacion__content-item col-lg-6">
                <div class="item__img">
                    <span class="material-symbols-rounded"> payments </span>
                </div>
                <div class="item__text">
                    <h3>¿Cuánto cuesta?</h3>
                    <div class="item__text-description">
                        <p>Consulta el precio, becas y ayudas de este Máster <a href="#">solicitando información</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="informacion__buttons-container row justify-content-center">
            <button class="primary-button col-lg-3 justify-content-center">Solicita información</button>
            <button class="primary-button col-lg-3 justify-content-center">Descarga el folleto informativo</button>
            <button class="primary-button col-lg-3 justify-content-center">Asiste a una sesión informativa</button>
        </div>
    </div>
</section>
