<section class="otros-programas">
    <div class="otros-programas__img">
        <img id="fecyt" src="./assets/img/deco-violeta.svg" alt="decoracion" />
    </div>

    <div class="otros-programas__content">
        <div class="otros-programas__title">
            <h2>Otros programas en Marketing Digital:</h2>
        </div>

        <div class="otros-programas__list-container row">
            <ul class="otros-programas__list col-lg-5">
                <li class="otros-programas__list-item">
                    <span class="material-symbols-rounded"> keyboard_double_arrow_right </span>Executive Master en
                    Marketing Digital, Analítica y UX
                </li>
                <li class="otros-programas__list-item">
                    <span class="material-symbols-rounded"> keyboard_double_arrow_right </span>
                    Postgrado en Traffic Management: SEO, SEM, Display y Social Media
                </li>
                <li class="otros-programas__list-item">
                    <span class="material-symbols-rounded"> keyboard_double_arrow_right </span>Máster en Analítica Web,
                    UX y CRO
                </li>
                <li class="otros-programas__list-item">
                    <span class="material-symbols-rounded"> keyboard_double_arrow_right </span>Máster en e-Commerce y
                    Marketing Digital
                </li>
                <li class="otros-programas__list-item">
                    <span class="material-symbols-rounded"> keyboard_double_arrow_right </span>Máster en Dirección de
                    Ventas y Marketing Digital
                </li>
                <li class="otros-programas__list-item">
                    <span class="material-symbols-rounded"> keyboard_double_arrow_right </span>Máster en e-Commerce y
                    Turismo
                </li>
            </ul>
            <ul class="otros-programas__list col-lg-6">
                <li class="otros-programas__list-item">
                    <span class="material-symbols-rounded"> keyboard_double_arrow_right </span>
                    Postgrado en Traffic Management: SEO, SEM, Display y Social Media
                </li>
                <li class="otros-programas__list-item">
                    <span class="material-symbols-rounded"> keyboard_double_arrow_right </span>Executive Master en
                    Marketing Digital, Analítica y UX
                </li>
                <li class="otros-programas__list-item">
                    <span class="material-symbols-rounded"> keyboard_double_arrow_right </span>Máster en Analítica Web,
                    UX y CRO
                </li>
                <li class="otros-programas__list-item">
                    <span class="material-symbols-rounded"> keyboard_double_arrow_right </span>Máster en e-Commerce y
                    Marketing Digital
                </li>
                <li class="otros-programas__list-item">
                    <span class="material-symbols-rounded"> keyboard_double_arrow_right </span>Máster en Dirección de
                    Ventas y Marketing Digital
                </li>
                <li class="otros-programas__list-item">
                    <span class="material-symbols-rounded"> keyboard_double_arrow_right </span>Máster en e-Commerce y
                    Turismo
                </li>
            </ul>
        </div>

        <div class="btn-container">
            <button class="primary-button">
                Ver todos los cursos <span class="material-symbols-rounded"> trending_flat </span>
            </button>
        </div>
    </div>
</section>
