<section class="becas">
    <div class="becas__info">
        <div class="becas__title">
            <h2>Becas <span>&</span> Ayudas</h2>
        </div>
        <div class="becas__cards row justify-content-center">
            <app-card-descuento
                class="col-lg-5"
                title="Becas Smart"
                percentage="25"
                text="Destinadas a aquellas personas que destaquen por su carácter innovador, méritos académicos y profesionales durante el proceso de selección."
            ></app-card-descuento>
            <app-card-descuento
                class="col-lg-5"
                title="Becas Impulsa"
                percentage="40"
                text="Tienen el objetivo de impulsar la capacitación de calidad y desarrollar el talento entre interesados que disponen de menores recursos u oportunidades o que forman parte de colectivos de especial interés."
            ></app-card-descuento>
        </div>
    </div>
</section>
